stages:
    - build

Build container:
  stage: build
  tags:
    - shell-runner
  script:
    - docker build -t ${CI_REGISTRY}/${CI_DEPLOY_USER}/${CI_DEFAULT_BRANCH} .
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY



#- docker login -u alexander -p $CI_PASSWORD $CI_REGISTRY
  