stages:
    - build

Build container:
  stage: build
  tags:
    - shell-runner
  script:
    - docker build -t gitlab.corp.local:5050/alexander/simple-cicd .
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY


#- docker login -u alexander -p $CI_PASSWORD $CI_REGISTRY
  
